@use "../utility/box-shadow.scss";
@use "../utility/zoom.scss";
@use "../utility/mixins";


.menu {
    counter-reset: steps;
    & ol {
        display: flex;
        gap: 1rem;
        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
    & li {
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: purple;
            padding: 0.5rem;
            border-radius: 50%;
        }    
        background-color: #f6f6f6;
        cursor: pointer;
        padding: 1rem 2rem;
        border: 1px solid red;
        flex-grow: 1;
        border-radius: 1rem;
        margin-right: 1.5rem;
        font-weight: 550;
        @include box-shadow.base-shadow;
        &:hover {
            @include zoom.transform-zoom;
        }    
    }
    & i.fas {
        margin-left: 1rem;
        font-size: 1.5rem;
    }

}