@use "../utility/mixins.scss";
@use "../utility/var.scss";
@use "../utility/colors.scss";

.restu-list{
    display: flex;
    flex-direction: column;
    background: colors.$lightergrey;
    padding: 0 1rem;
    h2{
        margin: 2rem 0;
    }
    .restu-list__list{
        .restu__card{
            background: white;
            margin: 0.5rem auto;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            a{            
                color: black;
                text-decoration: none;
                padding-bottom: 0.5rem;
                
                img{
                    height: 10rem;
                    width: 100%;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                    object-fit: cover;
                    position: relative;
                }
                .restu__card__new-box{
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    background: colors.$color-tertiary;
                    padding: 0 2rem;
                }
                .restu__card__card-text{
                    padding: 0 1rem;
                        
                }
            }
            
        }
    }
}



@media (min-width: var.$breakpoint ) {
    .restu-list{
        h2{
            text-align: center;
        }
        .restu-list__list{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 1rem;
        }

    }
}