@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  font-size: 0.8rem;
  text-align: center;
  box-shadow: 0px 0px 0.5rem gray;
  padding: 0.1rem;
  margin: 0;
  position: relative;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #e9e9e9;
  margin: 0;
  text-align: center;
  padding: 0.5rem;
}
.location i {
  font-size: 1rem;
}
.location h2 {
  font-size: 1rem;
}

.explore {
  text-align: center;
  padding: 1.5rem;
  background-color: #f6f6f6;
}
.explore h2 {
  font-size: 1.5rem;
  margin: 1rem;
}
.explore p {
  font-size: 1rem;
  color: #7e7e7e;
}
.explore button {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 3px 10px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 2px 3px 10px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explore button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.explore button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

main {
  padding: 0;
}

.menu {
  background-color: white;
  counter-reset: steps;
  margin-bottom: 2rem;
}
.menu h2 {
  margin-left: 1.5rem;
  margin-top: 3rem;
  padding-top: 2rem;
}
.menu ol {
  display: flex;
  margin-right: 1rem;
  gap: 2rem;
  padding-bottom: 5rem;
}
@media (max-width: 1000px) {
  .menu ol {
    flex-direction: column;
  }
}
.menu li {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 3px 10px -3px #7e7e7e;
}
.menu li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.menu li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
.menu li:hover i::before {
  color: #9356dc;
}
.menu li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
}

@media (min-width: 1000px) {
  .menu {
    margin: 2rem;
  }
  .menu h2 {
    font-size: 2rem;
    padding-top: 1rem;
    text-align: center;
  }
  .menu li {
    height: 5rem;
    font-size: 1rem;
  }
}
#homepage .restu-list {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  margin-top: 2rem;
  padding: 0 1rem 3rem 1rem;
}
#homepage .restu-list h2 {
  margin: 1rem 0 1rem 0.5rem;
}
#homepage .restu-list .restu-list__list .restu__card {
  background: white;
  margin: 1rem auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 16rem;
  box-shadow: 2px 3px 10px -3px #7e7e7e;
}
#homepage .restu-list .restu-list__list .restu__card a {
  color: black;
  text-decoration: none;
  padding-bottom: 0.5rem;
}
#homepage .restu-list .restu-list__list .restu__card a img {
  height: 10rem;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  position: relative;
}
#homepage .restu-list .restu-list__list .restu__card a .restu__card__new-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1.6rem;
  width: 5rem;
  background: #99e2d0;
}
#homepage .restu-list .restu-list__list .restu__card a .restu__card__new-box p {
  margin: 0.3rem 1.6rem;
  font-size: small;
  color: rgb(18, 142, 101);
  font-weight: bold;
}
#homepage .restu-list .restu-list__list .restu__card .restu__card__card-text {
  position: relative;
  padding: 0 1rem;
}
#homepage .restu-list .restu-list__list .restu__card .restu__card__card-text p {
  margin-top: -1rem;
}
#homepage .restu-list .restu-list__list .restu__card .restu__card__card-text i {
  font-size: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 40%;
  transform: translateY(-50%);
}
#homepage .restu-list .restu-list__list .restu__card .restu__card__card-text .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#homepage .restu-list .restu-list__list .restu__card .restu__card__card-text:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

@media (min-width: 1000px) {
  .restu-list h2 {
    text-align: center;
    font-size: 2rem;
  }
  .restu-list .restu-list__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
footer {
  background-color: #353535;
  padding: 0.1rem 0 2rem 1.5rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 0.5rem 0;
}
footer p {
  padding: 0 0.2rem;
}
footer a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #f6f6f6;
}

#restu-page header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
#restu-page header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: transform 200ms;
}
#restu-page .banner img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}
#restu-page .restu__title {
  margin-top: -2rem;
}
#restu-page .restu__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
#restu-page .restu__title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#restu-page .restu__title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
#restu-page .restu__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#restu-page .restu__main {
  padding: 0 1rem;
}
#restu-page .menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  #restu-page .menu-grid {
    grid-template-columns: 1fr;
  }
}
#restu-page .menu-grid h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
#restu-page .menu-grid h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}
#restu-page .menu-grid .menus__category {
  overflow: hidden;
}
#restu-page .menu-grid .menus__category .menu-item {
  height: 5.2rem;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem 0.2rem;
  box-shadow: 2px 3px 10px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
#restu-page .menu-grid .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#restu-page .menu-grid .menus__category .menu-item .menu-item__description {
  padding: 0rem 1rem;
  overflow: hidden;
}
#restu-page .menu-grid .menus__category .menu-item .menu-item__description h4,
#restu-page .menu-grid .menus__category .menu-item .menu-item__description p {
  margin: 1rem 0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#restu-page .menu-grid .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#restu-page .menu-grid .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  color: #99e2d0;
}
#restu-page .menu-grid .menus__category .menu-item:hover {
  cursor: pointer;
}
#restu-page .menu-grid .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#restu-page .menu-grid .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#restu-page section.order {
  height: 10vh;
  margin-bottom: 3.5rem;
  display: grid;
  place-items: center;
}
#restu-page section.order button {
  width: 12rem;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 3px 10px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
#restu-page section.order button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
