@use "../utility/mixins";
@use "../utility/colors";
@use "../utility/var";

.banner img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
} 

.restu__title {
    margin-top: -3rem;
    h2 {
      font-family: "Shrikhand", "sans-serif";
      padding: 2rem 1rem;
      @include mixins.heart-animated;
      border-radius: 2rem 2rem 0 0;
    }
}

.menu-grid {
  background-color: yellow; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: var.$desktop) {
    grid-template-columns: 1fr;
  }
  & > * {
    border: 1px solid red;
  }
}

.restu__main {
  padding: 0 1rem;
 
}